
{% extends "base.html" %}
{% block content %}
<style type="text/css">

    .main-block{
        text-align: center;
        padding-top: 17%;
        color: white;
        font-family: 'Jura', serif;
        letter-spacing: 2px;

    }
    body{
        background-image: url("/static/img/d29.resizedimage.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h1.sent{
        font-size: 33px;
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #FFFFFF, 0 0 80px #FFFFFF, 0 0 90px #FFFFFF, 0 0 100px #FFFFFF, 0 0 150px #FFFFFF;

    }

    p.sent {
        font-size: 17px;

    }


</style>
<div class="container main-block">
    <h1 class="sent">Сообщение отправленно</h1>
    <p class="sent">пожалуйста проверьте свою почту</p>
</div>
{% endblock %}
