
{% extends "base.html" %}
{% block content %}
<style type="text/css">

    .main-block{
        text-align: center;
        padding-top: 4%;
        color: white;
        font-family: 'Jura', serif;
        letter-spacing: 2px;
        margin-bottom: 300px;

    }
    body{
        background: #000005;
    }

    h1.enter{
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #FFFFFF, 0 0 80px #FFFFFF, 0 0 90px #FFFFFF, 0 0 100px #FFFFFF, 0 0 150px #FFFFFF;
        font-size: 30px;

    }

    .enter-form{

        margin-top: 30px;
    }

    #id_form{
        background: rgba(173,241,255,0);
    }
    .btn{

            transition: 0.5s;
            margin-left: 5px;

        }

    .btn:hover{
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #FFFFFF, 0 0 80px #FFFFFF, 0 0 90px #FFFFFF, 0 0 100px #FFFFFF, 0 0 150px #FFFFFF;
        background: rgba(0,0,5,0);
    }


</style>
<div class="container main-block">
    <h1 class="enter">Введите новый пароль</h1>
    <form method="post">
        {% csrf_token %}
        <div class="enter-form">
        {{ form }}
        <input type="Submit" name="Update Password" class="btn btn-outline-light" value="Обновить">
            </div>
    </form>
</div>
{% endblock %}


