{% extends "base.html" %}
{% block content %}
<style>
    body{
    height: 100%;
    background-image: url("/static/img/graham-w-sketch-41-greyscale.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .profile-pic{
    margin: 0 auto;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    }
    .user_card {
    width: 700px;
    height: 730px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(0, 0, 5, 0.68);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    }
    .container {
    margin-top: 80px;
    }
    .input-settings{
    }
    .form-group{
    margin-top: 20px;
    }
    .settings{
    color: white;
    }
    .change-btn{

        transition: 1s;
    }
    .change-btn:hover{

        border-color: #FFFFFF;
        color: #FFFFFF;
        background-color: rgba(250, 235, 215, 0);
    }
    h4{
        font-family: 'Jura', serif;
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #FFFFFF, 0 0 80px #FFFFFF, 0 0 90px #FFFFFF, 0 0 100px #FFFFFF, 0 0 150px #FFFFFF;

    }
    h1.yellow {

    }
    .input-email{
        margin-top: 20px;


    }
    .input-name{
        margin-top: 30px;

    }
    #id_name{
        font-size: large;
        font-family: 'Jura', serif;
        background: rgba(105,98,104,0.0);
        color: #FFFFFF;

    }
    #id_email{
        font-size: large;
        font-family: 'Jura', serif;
        background: rgba(105,98,104,0.0);
        color: #FFFFFF;

        }
    .sign-wrap-4 .sign_word {
        font-size: 40px;
        color: #FFF;
        font-family: 'Jura', serif;
        font-weight: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FFFFFF, 0 0 0.5em #FFFFFF, 0 0 0.1em #FFFFFF;
    }
    .sign-wrap-4 .sign_word span {
        animation: neon-4 linear infinite 2s;
    }
    @keyframes neon-4 {
        78% {
            color: inherit;
            text-shadow: inherit;
        }
        79%{
            color: #0b3960;
        }
        80% {
            text-shadow: none;
        }
        81% {
            color: inherit;
            text-shadow: inherit;
        }
        82% {
            color: #0b3960;
            text-shadow: none;
        }
        83% {
            color: inherit;
            text-shadow: inherit;
        }
        92% {
            color: #0b3960;
            text-shadow: none;
        }
        92.5% {
            color: inherit;
            text-shadow: inherit;
        }
    }

    .form_container{
        padding-top: 20px;
    }
    .btn-avatar{
        transition: 1s;
    }


</style>
</div>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="sign-wrap-4">
                    <div class="sign_word">Н<span>ас</span>т<span>ро</span>й<span>ка</span></div>
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <div class="row">
                    <div class="col-12">
                        <img class="profile-pic" src="{{ request.user.player.profile_pic.url }}">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-settings">
                                <div class="input-name">
                                    <h4>name: </h4>
                                    {{ form.name }}
                                </div>
                                <div class="input-email">
                                    <h4>email: </h4>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <label for="id_profile_pic" class='btn btn-outline-light btn-avatar'>Изменить аватар</label>
                                    <input type="file" name="profile_pic" id="id_profile_pic" style='display:none'>
                                </div>
                            </div>
                            <div class="col-6" style="margin: 0 auto">
                                <input class="btn btn-outline-dark change-btn" type="submit" name="Update Information" value="Внести изменения">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

